# Series in Pandas

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
obj=pd.Series([1,2,3,4,-5])

In [5]:
obj

0    1
1    2
2    3
3    4
4   -5
dtype: int64

In [6]:
obj.values

array([ 1,  2,  3,  4, -5], dtype=int64)

In [7]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
obj2=pd.Series([1,2,3,4,5],['a','b','c','d','e'])

In [9]:
obj2

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [10]:
obj2.values

array([1, 2, 3, 4, 5], dtype=int64)

In [11]:
obj2.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [12]:
obj2.pct_change()*100

a           NaN
b    100.000000
c     50.000000
d     33.333333
e     25.000000
dtype: float64

In [13]:
print(obj2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [14]:
print(obj2.values)

[1 2 3 4 5]

In [15]:
print(obj2.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [16]:
obj3=pd.Series([1,2,3,4,5],['a','b','c','d','e'],name="counting")

In [17]:
print(obj3)

a    1
b    2
c    3
d    4
e    5
Name: counting, dtype: int64

In [18]:
obj3=pd.Series([1,2,3,4,5],['a','b','c','d','e'],name="counting")

In [19]:
obj3

a    1
b    2
c    3
d    4
e    5
Name: counting, dtype: int64

In [20]:
obj3.append(obj2)

a    1
b    2
c    3
d    4
e    5
a    1
b    2
c    3
d    4
e    5
dtype: int64

In [21]:
obj3

a    1
b    2
c    3
d    4
e    5
Name: counting, dtype: int64

# Example sandwich sales of week

In [27]:
sw=pd.Series([20,30,40,0,60,90,10],index=['mon','tues','wed','thurs','fri','sat','sun'],name='Weekly sandwich sales')

In [28]:
print(sw['wed'])

40

In [29]:
print(sw[[3,6]]) # we can access multiple element in the series with array notation and default index provided by pandas

thurs     0
sun      10
Name: Weekly sandwich sales, dtype: int64

# Accessing multiple element in series with user define index name

In [30]:
sw

mon      20
tues     30
wed      40
thurs     0
fri      60
sat      90
sun      10
Name: Weekly sandwich sales, dtype: int64

In [31]:
print(sw['tues'])
print(sw[1])

30
30

In [32]:
print(sw[['tues','mon']])

tues    30
mon     20
Name: Weekly sandwich sales, dtype: int64

In [33]:
print(sw[sw>20])

tues    30
wed     40
fri     60
sat     90
Name: Weekly sandwich sales, dtype: int64

In [34]:
print(sw*2)

mon       40
tues      60
wed       80
thurs      0
fri      120
sat      180
sun       20
Name: Weekly sandwich sales, dtype: int64

In [35]:
sw

mon      20
tues     30
wed      40
thurs     0
fri      60
sat      90
sun      10
Name: Weekly sandwich sales, dtype: int64

In [36]:
sw=sw*2
print(sw
     )

mon       40
tues      60
wed       80
thurs      0
fri      120
sat      180
sun       20
Name: Weekly sandwich sales, dtype: int64

In [37]:
sw=sw/2
print(sw)

mon      20.0
tues     30.0
wed      40.0
thurs     0.0
fri      60.0
sat      90.0
sun      10.0
Name: Weekly sandwich sales, dtype: float64

In [38]:
#making array in numpy and using in pandas as series value and index

In [39]:
import numpy as np

In [40]:
ar=np.array([1,2,3,4,5,6])
ind=np.array(['a','b','c','d','e','f'])

In [41]:
obj_np=pd.Series(ar,index=ind)

In [42]:
print(obj_np)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int32

In [43]:
'tues' in sw

True

# Series taking input as Dictionary

In [44]:
sdata={'punjab':35000,'kpk':4000,'balochistan':5000,'sindh':6000}

In [45]:
tax_by_state=pd.Series(sdata)

In [46]:
print(tax_by_state)

punjab         35000
kpk             4000
balochistan     5000
sindh           6000
dtype: int64

In [47]:
tax_by_state1=pd.Series(sdata,index=['kpk','punjab','sindh','balochistan','gb'])

In [48]:
print(tax_by_state1)

kpk             4000.0
punjab         35000.0
sindh           6000.0
balochistan     5000.0
gb                 NaN
dtype: float64

In [49]:
#two method to check missing values in series
pd.isnull(tax_by_state1)
tax_by_state.isnull()

punjab         False
kpk            False
balochistan    False
sindh          False
dtype: bool

In [50]:
#two method to check value which are non-missing
pd.notnull(tax_by_state1)
tax_by_state.notnull()

punjab         True
kpk            True
balochistan    True
sindh          True
dtype: bool

In [51]:
tax_by_state1+tax_by_state

balochistan    10000.0
gb                 NaN
kpk             8000.0
punjab         70000.0
sindh          12000.0
dtype: float64

# overriding index name

In [52]:
tax_by_state1.index=['k','p','s','b','gb']

In [53]:
print(tax_by_state1)

k      4000.0
p     35000.0
s      6000.0
b      5000.0
gb        NaN
dtype: float64

# DataFrame

In [54]:
apple=pd.Series([1,2,3,4])
orange=pd.Series([5,6,7,8])

In [55]:
fruit={'apple':apple,'orange':orange}

In [56]:
print(fruit)

{'apple': 0    1
1    2
2    3
3    4
dtype: int64, 'orange': 0    5
1    6
2    7
3    8
dtype: int64}

In [57]:
fruit_df=pd.DataFrame(fruit)

In [58]:
print(fruit_df)

   apple  orange
0      1       5
1      2       6
2      3       7
3      4       8

In [59]:
np.exp(obj)

0     2.718282
1     7.389056
2    20.085537
3    54.598150
4     0.006738
dtype: float64

In [60]:
np.exp(2)

7.38905609893065

In [61]:
np.array([1,'a'])

array(['1', 'a'], dtype='<U11')

In [62]:
len(obj)

5

# DataFrame

In [63]:
data={'states':['punj','sindh','kpk','bal'],
      'years':[2000,2001,2002,2003],
      'pop':[1.8,1.7,0.8,0.5]
     }

In [64]:
frame=pd.DataFrame(data)

In [65]:
print(frame)

  states  years  pop
0   punj   2000  1.8
1  sindh   2001  1.7
2    kpk   2002  0.8
3    bal   2003  0.5

In [66]:
frame.head()

  states  years  pop
0   punj   2000  1.8
1  sindh   2001  1.7
2    kpk   2002  0.8
3    bal   2003  0.5

In [67]:
#arranging column according to own desire
frame2=pd.DataFrame(data,columns=['years','states','pop'])

In [68]:
#adding index name of own choice and adding extra column with missing values
frame2=pd.DataFrame(data,columns=['years','states','pop','debt'], index=['1st','2nd','3rd','4rth'])

In [69]:
frame2.head()

      years states  pop debt
1st    2000   punj  1.8  NaN
2nd    2001  sindh  1.7  NaN
3rd    2002    kpk  0.8  NaN
4rth   2003    bal  0.5  NaN

In [70]:
frame2.columns

Index(['years', 'states', 'pop', 'debt'], dtype='object')

In [71]:
frame2.index

Index(['1st', '2nd', '3rd', '4rth'], dtype='object')

In [72]:
# assigning constant to debt column
frame2['debt']=16.5

In [73]:
frame2.head()

      years states  pop  debt
1st    2000   punj  1.8  16.5
2nd    2001  sindh  1.7  16.5
3rd    2002    kpk  0.8  16.5
4rth   2003    bal  0.5  16.5

In [74]:
frame2.debt

1st     16.5
2nd     16.5
3rd     16.5
4rth    16.5
Name: debt, dtype: float64

In [75]:
frame2.debt=1

In [76]:
frame2.head()

      years states  pop  debt
1st    2000   punj  1.8     1
2nd    2001  sindh  1.7     1
3rd    2002    kpk  0.8     1
4rth   2003    bal  0.5     1

In [77]:
#dictionary like notation 
print(frame2[['years','debt']])

      years  debt
1st    2000     1
2nd    2001     1
3rd    2002     1
4rth   2003     1

In [78]:
print(frame2.debt)

1st     1
2nd     1
3rd     1
4rth    1
Name: debt, dtype: int64

In [79]:
#assigning value to debt with arange() of numpy 
frame2['debt']=np.arange(len(frame2))

In [80]:
print(frame2)

      years states  pop  debt
1st    2000   punj  1.8     0
2nd    2001  sindh  1.7     1
3rd    2002    kpk  0.8     2
4rth   2003    bal  0.5     3

In [81]:
frame2['eastern']=frame2.states=='punj'

In [82]:
frame2.head()

      years states  pop  debt  eastern
1st    2000   punj  1.8     0     True
2nd    2001  sindh  1.7     1    False
3rd    2002    kpk  0.8     2    False
4rth   2003    bal  0.5     3    False

In [83]:
#del method use to delete column
del frame2['eastern']

In [84]:
frame2.head()

      years states  pop  debt
1st    2000   punj  1.8     0
2nd    2001  sindh  1.7     1
3rd    2002    kpk  0.8     2
4rth   2003    bal  0.5     3

In [85]:
frame2.columns

Index(['years', 'states', 'pop', 'debt'], dtype='object')

In [86]:
#creating dataframe with dic with in dic
pop={'england':{2000:'4M',2001:'5M',2002:'5.5M'},
    'pakistan':{2000:'6M',2001:'6.6M',2002:'7M'},
     'india':{2001:'15M',2002:'20M'}
    }

In [87]:
frame3=pd.DataFrame(pop,index=[2001,2000,2002])

In [88]:
frame3

     england pakistan india
2001      5M     6.6M   15M
2000      4M       6M   NaN
2002    5.5M       7M   20M

In [89]:
frame3.index=[1,2,3]

In [90]:
frame3

  england pakistan india
1      5M     6.6M   15M
2      4M       6M   NaN
3    5.5M       7M   20M

In [93]:
frame3.T

        1    2     3
eng    5M   4M  5.5M
pak  6.6M   6M    7M
ind   15M  NaN   20M

In [98]:
frame3.columns=['eng','pak','ind']

In [99]:
frame3.head()

    eng   pak  ind
1    5M  6.6M  15M
2    4M    6M  NaN
3  5.5M    7M  20M

In [100]:
pdata={'england':frame3['eng'][:-1],
       'pakistan':frame3['pak'][:2]
      }

In [101]:
frame4=pd.DataFrame(pdata)

In [102]:
frame4.head()

  england pakistan
1      5M     6.6M
2      4M       6M

In [481]:
frame4.index.name='years'

In [482]:
frame4.columns.name='country'

In [483]:
frame4.head()

country england pakistan
years
1            5M      15M
2            4M      NaN

In [484]:
frame4.values

array([['5M', '15M'],
       ['4M', nan]], dtype=object)

In [485]:
list_of_dic=[{1,2,3,9},{4,5,6,7}]

In [494]:
frame5=pd.DataFrame(list_of_dic)

In [499]:

frame5.head()

   0  1  2  3
0  1  2  3  9
1  4  5  6  7

In [3]:
dFrame=pd.DataFrame(np.random.rand(4,3),columns=list('abc'), index=[1,2,3,4])

In [4]:
print(dFrame)

          a         b         c
1  0.576491  0.631145  0.371985
2  0.658084  0.325008  0.896026
3  0.197975  0.083885  0.934492
4  0.431863  0.287033  0.696914

In [6]:
#use to print positive values only
print(np.abs(dFrame))

          a         b         c
1  0.576491  0.631145  0.371985
2  0.658084  0.325008  0.896026
3  0.197975  0.083885  0.934492
4  0.431863  0.287033  0.696914

In [75]:
mini=dFrame['b'].min()

In [76]:
maxi=dFrame['b'].max()

In [78]:
print(maxi-mini)

0.5472602557781271

In [79]:
f=lambda x:x.max() - x.min()
df=dFrame.apply(f)

In [80]:
print(df,type(df))

a    0.460109
b    0.547260
c    0.562507
dtype: float64 <class 'pandas.core.series.Series'>

In [81]:
df=dFrame.apply(f,axis=1)
print(df)

1    0.259161
2    0.571018
3    0.850607
4    0.409881
dtype: float64

In [82]:
def min_max(x):
    
    return pd.Series([x.max() , x.min()],index=['max','min'])

In [83]:
dfi=dFrame.apply(min_max)
print(dfi)

            a         b         c
max  0.658084  0.631145  0.934492
min  0.197975  0.083885  0.371985

In [97]:
frame=pd.DataFrame(np.arange(8).reshape(2,4),index=['three','one'],columns=['d','a','b','c'])

In [98]:
frame

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [99]:
print(frame.sort_index(axis=1,ascending=False))

       d  c  b  a
three  0  3  2  1
one    4  7  6  5

In [100]:
print(frame.sort_index(axis=1))

       a  b  c  d
three  1  2  3  0
one    5  6  7  4

In [101]:
print(frame.sort_index(axis=0,ascending=False))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [102]:
print(frame.sort_index(axis=0,ascending=True))

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [103]:
print(frame.sort_values(by='d'))

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [105]:
print(frame.rank(ascending=False,method='max'))

         d    a    b    c
three  2.0  2.0  2.0  2.0
one    1.0  1.0  1.0  1.0

In [106]:
print(frame.rank(ascending=True,method='min'))

         d    a    b    c
three  1.0  1.0  1.0  1.0
one    2.0  2.0  2.0  2.0

# Arthimetic and Data Alignment

In [107]:
df1=pd.DataFrame(np.arange(9).reshape(3,3),columns=list('bcd'),index=['pun','sindh','bal'])

In [108]:
df2=pd.DataFrame(np.arange(12).reshape(4,3),columns=list('bde'),index=['pun','sindh','bal','kpk'])

In [110]:
print(df1)
print(df2)
df3=df1+df2
print(df3)

       b  c  d
pun    0  1  2
sindh  3  4  5
bal    6  7  8
       b   d   e
pun    0   1   2
sindh  3   4   5
bal    6   7   8
kpk    9  10  11
          b   c     d   e
bal    12.0 NaN  15.0 NaN
kpk     NaN NaN   NaN NaN
pun     0.0 NaN   3.0 NaN
sindh   6.0 NaN   9.0 NaN

# Arithmetic method with fill values

In [111]:
df3=df1.add(df2, fill_value=0)
print(df3)

          b    c     d     e
bal    12.0  7.0  15.0   8.0
kpk     9.0  NaN  10.0  11.0
pun     0.0  1.0   3.0   2.0
sindh   6.0  4.0   9.0   5.0

# Operation Between DataFrame and Series

In [130]:
dataFrame1=pd.DataFrame(np.arange(12).reshape(4,3),index=list('1234'),columns=['a','b','c'])

In [131]:
dataFrame1

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [132]:
series1=pd.Series(np.arange(3),index=list('abc'))
print(series1)

a    0
b    1
c    2
dtype: int32

In [133]:
dataFrame1-series1

   a  b  c
1  0  0  0
2  3  3  3
3  6  6  6
4  9  9  9

In [134]:
dataFrame1*series1

   a   b   c
1  0   1   4
2  0   4  10
3  0   7  16
4  0  10  22

# Deleting row and columns in Dataframe

In [135]:
dataFrame1

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [136]:
#DELETING COLUMN WITHOUT INPLACE METHOD
dataFrame1.drop('c',axis=1)

   a   b
1  0   1
2  3   4
3  6   7
4  9  10

In [137]:
dataFrame1

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [138]:
#DELETING COLUMN WITH INPLACE METHOD
dataFrame1.drop('c',axis=1,inplace=True)

In [139]:
dataFrame1

   a   b
1  0   1
2  3   4
3  6   7
4  9  10

In [144]:
#DELETING ROW FROM DATAFRAME without inplace method
dataFrame1.drop('1') # by DEFAULT DATAFRAME AXIS=0 AND DELEE ROW FROM DATAFRAME

   a   b
2  3   4
3  6   7
4  9  10

In [145]:
dataFrame1.drop('1',inplace=True)

In [146]:
dataFrame1

   a   b
2  3   4
3  6   7
4  9  10

# Indexing, Selection, and Filtering

In [147]:
dataFrame1=pd.DataFrame(np.arange(12).reshape(4,3),index=list('1234'),columns=['a','b','c'])

In [148]:
dataFrame1

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [151]:
dataFrame1['a']

1    0
2    3
3    6
4    9
Name: a, dtype: int32

In [153]:
dataFrame1[['a','b']]

   a   b
1  0   1
2  3   4
3  6   7
4  9  10

In [154]:
dataFrame1[2:]

   a   b   c
3  6   7   8
4  9  10  11

In [155]:
dataFrame1[:-1]

   a  b  c
1  0  1  2
2  3  4  5
3  6  7  8

In [166]:
dataFrame1[dataFrame1['a']>4]

   a   b   c
3  6   7   8
4  9  10  11

# reindex with method ffil

In [214]:
#reindex series 
obj3 = pd.Series(['blue', 'purple', 'yellow'])
print(obj3)

0      blue
1    purple
2    yellow
dtype: object

In [215]:
#obj3=obj3.reindex(range(9))
#print(obj3)

In [216]:
#adding method=ffill to reindex function to avoid NAN values
obj3.reindex(range(9), method='ffill')

0      blue
1    purple
2    yellow
3    yellow
4    yellow
5    yellow
6    yellow
7    yellow
8    yellow
dtype: object

In [217]:
# reindex dataframe
dataFrame1=pd.DataFrame(np.arange(12).reshape(4,3),index=list('1234'),columns=['a','b','c'])
dataFrame1

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [221]:
dataFrame1=dataFrame1.reindex(columns=['a','b','c','d','e'],method='ffill')
dataFrame1

   a   b   c   d   e
1  0   1   2   2   2
2  3   4   5   5   5
3  6   7   8   8   8
4  9  10  11  11  11

In [222]:

dataFrame1.fillna(0)

   a   b   c   d   e
1  0   1   2   2   2
2  3   4   5   5   5
3  6   7   8   8   8
4  9  10  11  11  11

In [228]:
dataFrame1

   a   b   c   d   e
1  0   1   2   2   2
2  3   4   5   5   5
3  6   7   8   8   8
4  9  10  11  11  11

# Conditional Selection

In [224]:
#dictionary Like Style of accsessong data
dataFrame1['a']

1    0
2    3
3    6
4    9
Name: a, dtype: int32

In [227]:
#Dictionary like style to access both rows and columns
dataFrame1[['a','b']][2:]

   a   b
3  6   7
4  9  10

In [225]:
#attribute like style to access both rows and columns
dataFrame1.a[2:]

3    6
4    9
Name: a, dtype: int32

In [229]:
dataFrame1[dataFrame1['a']>3]

   a   b   c   d   e
3  6   7   8   8   8
4  9  10  11  11  11

In [230]:
dataFrame1.a[dataFrame1['a']>3]

3    6
4    9
Name: a, dtype: int32

In [231]:
dataFrame1['a']>3

1    False
2    False
3     True
4     True
Name: a, dtype: bool

# Selection with loc and iloc

In [240]:
#remember in loc method specifies row labels and then column label
dataFrame1.loc[['1','2'],['a','b']]

   a  b
1  0  1
2  3  4

In [244]:
#remember in iloc mehtod we only specifies the row index and then column index
dataFrame1.iloc[:,:3]

   a   b   c
1  0   1   2
2  3   4   5
3  6   7   8
4  9  10  11

In [245]:
dataFrame1.iloc[[0,1],:3]

   a  b  c
1  0  1  2
2  3  4  5

In [246]:
dataFrame1.iloc[[0,1],1:3]

   b  c
1  1  2
2  4  5

# Data Loading, Storage, and File Formats

In [247]:
sample_df=pd.read_csv("Desktop/examples/sample.csv")

In [248]:
sample_df

  studentid         name   chimestry   physics   english   math
0       A01     arif ali          20        30        40     50
1       A02  kamran khan          30        40        50     60
2       A03   imran ali           40        50        60     70
3       A04  kashif khan          50        60        70     80

In [249]:
sample_df=pd.read_csv("Desktop/examples/sample.csv",names=['id','nam','chem','phy','eng','math'])

In [250]:
sample_df

          id          nam        chem       phy       eng   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [255]:
sample_df=pd.read_csv("Desktop/examples/sample.csv",names=['id','nam','chem','phy','eng','math'],header=None)
print(sample_df)

          id          nam        chem       phy       eng   math
0  studentid         name   chimestry   physics   english   math
1        A01     arif ali          20        30        40     50
2        A02  kamran khan          30        40        50     60
3        A03   imran ali           40        50        60     70
4        A04  kashif khan          50        60        70     80

In [262]:
ex2_df=pd.read_csv("Desktop/examples/ex2.csv")
print(ex2_df)

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [264]:
ex2_df=pd.read_csv("Desktop/examples/ex2.csv",header=None)
print(ex2_df)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [266]:
sample2_df=pd.read_csv("Desktop/examples/sample2.csv")
sample2_df

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [269]:
sample2_df=pd.read_csv("Desktop/examples/sample2.csv",index_col=['key1'])
sample2_df

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [270]:
sample2_df=pd.read_csv("Desktop/examples/sample2.csv",index_col=['key1','key2'])
sample2_df

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

# Handling missing value in Pandas

In [ ]:
sample3_df=pd.read_csv("Desktop/examples/sample3.csv")
print(sample3_df)

In [280]:
sentinels={'message':['foo','NaN']}
pd.read_csv("Desktop/examples/sample3.csv", na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

# Reading and Text Files

In [286]:
mb_df=pd.read_csv("Desktop/datasets/train.csv")
mb_df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [303]:
#making chunks of dataset
mb_chunk=pd.read_csv("Desktop/datasets/train.csv",chunksize=200)
chunkList=[]
for chunk in mb_chunk:
    #print(chunk)
    chunkList.append(chunk)
chunkList[2].head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
400,1266,0,1.9,1,0,1,7,0.2,184,3,...,346,1468,2532,10,5,4,1,1,1,2
401,1042,0,2.7,1,16,1,50,0.8,93,7,...,727,1705,3215,18,0,20,1,1,1,3
402,1479,0,0.5,0,8,0,19,0.6,156,3,...,180,1476,3323,13,12,6,1,0,1,3
403,1476,1,1.2,1,0,1,55,0.1,171,4,...,1641,1666,1529,13,8,3,1,0,1,2
404,1552,1,2.2,0,6,1,13,0.2,123,6,...,269,1026,2403,9,2,9,1,1,1,2

# Reading from Multispace

In [24]:
data=list(open("Desktop/examples/ex3.txt"))
print(data)
df=pd.read_table("Desktop/examples/ex3.txt", sep="\s+")
print(df)
df

['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']
            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [22]:
df1=pd.read_csv("Desktop/examples/ex4.csv",skiprows=[0,2,3])
print(df1)
df1

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# Writing data to text format

In [28]:
data=pd.read_csv("Desktop/examples/sample.csv")
data
#copying data from sampple.csv to copy.csv
data.to_csv("Desktop/examples/copy.csv")

In [33]:
date=pd.date_range('01/01/2000',periods=7)
date

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [34]:
ts=pd.Series(date)

In [35]:
ts

0   2000-01-01
1   2000-01-02
2   2000-01-03
3   2000-01-04
4   2000-01-05
5   2000-01-06
6   2000-01-07
dtype: datetime64[ns]

In [38]:
ts.to_csv("Desktop/examples/copySeries.csv" )

C:\Users\Aqeel\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.

# Working with Delimited Data

In [40]:
import csv
f=open("Desktop/examples/ex7.csv" )
reader=csv.reader(f)
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [44]:
f=pd.read_csv("Desktop/examples/ex7.csv" )
print(f)

   a  b  c
0  1  2  3
1  1  2  3

In [57]:
obj="""
{'a':{1,'b':3,'a':2,'c':5,'a':6},
'b':{1,'b':3,'a':2,'c':5,'a':6}
}
"""
print(obj)
obj1=pd.Series(obj)

{'a':{1,'b':3,'a':2,'c':5,'a':6},
'b':{1,'b':3,'a':2,'c':5,'a':6}
}

0    \n{'a':{1,'b':3,'a':2,'c':5,'a':6},\n'b':{1,'b...
dtype: object

In [59]:
obj1.to_json(r'Desktop/examples/j.json')

In [65]:
j=pd.read_json(r"Desktop/examples/example.json")

In [66]:
j

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [70]:
#j=pd.read_json(r"Desktop/examples/j.json")

# Web data Loading

In [76]:
table=pd.read_html("Desktop/examples/fdic_failed_bank_list.html")
print(table)

[                             Bank Name             City  ST   CERT  \
0                          Allied Bank         Mulberry  AR     91
1         The Woodbury Banking Company         Woodbury  GA  11297
2               First CornerStone Bank  King of Prussia  PA  35312
3                   Trust Company Bank          Memphis  TN   9956
4           North Milwaukee State Bank        Milwaukee  WI  20364
..                                 ...              ...  ..    ...
542                 Superior Bank, FSB         Hinsdale  IL  32646
543                Malta National Bank            Malta  OH   6629
544    First Alliance Bank & Trust Co.       Manchester  NH  34264
545  National State Bank of Metropolis       Metropolis  IL   3815
546                   Bank of Honolulu         Honolulu  HI  21029

                   Acquiring Institution        Closing Date  \
0                           Today's Bank  September 23, 2016
1                            United Bank     August 19, 2016
2    First-Citizens Bank & Trust Company         May 6, 2016
3             The Bank of Fayette County      April 29, 2016
4    First-Citizens Bank & Trust Company      March 11, 2016
..                                   ...                 ...
542                Superior Federal, FSB       July 27, 2001
543                    North Valley Bank         May 3, 2001
544  Southern New Hampshire Bank & Trust    February 2, 2001
545              Banterra Bank of Marion   December 14, 2000
546                   Bank of the Orient    October 13, 2000

          Updated Date
0    November 17, 2016
1    November 17, 2016
2    September 6, 2016
3    September 6, 2016
4        June 16, 2016
..                 ...
542    August 19, 2014
543  November 18, 2002
544  February 18, 2003
545     March 17, 2005
546     March 17, 2005

[547 rows x 7 columns]]

In [77]:
print(type(table))

<class 'list'>

In [78]:
print(len(table))

1

In [79]:
failure_df=table[0]

In [80]:
failure_df.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [81]:
failure_df.shape

(547, 7)

In [82]:
failure_df.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [85]:
failure_df['City'].head()

0           Mulberry
1           Woodbury
2    King of Prussia
3            Memphis
4          Milwaukee
Name: City, dtype: object

In [86]:
closing_date=pd.to_datetime(failure_df['Closing Date'])

In [87]:
closing_date.head()

0   2016-09-23
1   2016-08-19
2   2016-05-06
3   2016-04-29
4   2016-03-11
Name: Closing Date, dtype: datetime64[ns]

In [88]:
failure_df['Closing Date'].head()

0    September 23, 2016
1       August 19, 2016
2           May 6, 2016
3        April 29, 2016
4        March 11, 2016
Name: Closing Date, dtype: object

# binary data Format

In [92]:
#efficient way to store and retrieve data 
#not human readable
frame=pd.read_csv("Desktop/examples/ex1.csv")

In [93]:
frame.to_pickle('Desktop/examples/pickle_frame')

In [94]:
pd.read_pickle('Desktop/examples/pickle_frame')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# HDF Format (Heirarical Data Format)

In [111]:
#through HDf Format we can filter our data while reading from db
frame=pd.DataFrame({'a':np.random.randn(100)})
store=pd.HDFStore('mydata.h5')
store['obj1']=frame
store['obj1_col']=frame['a']
print(store)
x=store.obj1
print(x)
print(type(x))
print(x.head())

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

           a
0   0.060979
1  -0.734864
2  -0.915477
3   0.721147
4  -0.997465
..       ...
95 -1.200011
96 -0.049793
97  0.576706
98 -1.390544
99 -0.568736

[100 rows x 1 columns]
<class 'pandas.core.frame.DataFrame'>
          a
0  0.060979
1 -0.734864
2 -0.915477
3  0.721147
4 -0.997465

In [112]:
store.put('obj2',frame, format='table')

In [113]:
store.select('obj2',where='index>=10 and index<=15')

           a
10 -0.051966
11 -0.850385
12  1.387550
13 -1.115927
14  0.752485
15 -0.410784

In [114]:
store.close()

In [115]:
#direct way to save and retrive data with hdf
frame.to_hdf('mydata1.h5','obj1',format='table')

In [116]:
pd.read_hdf('mydata1.h5','obj1')

           a
0   0.060979
1  -0.734864
2  -0.915477
3   0.721147
4  -0.997465
..       ...
95 -1.200011
96 -0.049793
97  0.576706
98 -1.390544
99 -0.568736

[100 rows x 1 columns]

# Reading Microsoft Excel data

In [117]:
#reading
frame=pd.read_excel('Desktop/examples/ex1.xlsx')

In [121]:
frame.head()

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [122]:
#writing to new excel sheet with single sheet
frame.to_excel('Desktop/examples/ex2.xlsx')

In [124]:
#reading the data from excel sheet which we write above
pd.read_excel('Desktop/examples/ex2.xlsx')

   Unnamed: 0  Unnamed: 0.1  a   b   c   d message
0           0             0  1   2   3   4   hello
1           1             1  5   6   7   8   world
2           2             2  9  10  11  12     foo

In [126]:
#writing in excel sheet with multiple pages
writer=pd.ExcelWriter('Desktop/examples/ex2.xlsx')
frame.to_excel(writer,'Sheet2')
writer.save()

# Interacting with web Api

In [127]:
import requests
url='https://api.github.com/repos/pandas-dev/pandas/issues'
req=requests.get(url)

In [128]:
print(req)

<Response [200]>

In [129]:
data=req.json()

In [132]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/35891',
  'id': 685404307,
  'node_id': 'MDU6SXNzdWU2ODU0MDQzMDc=',
  'number': 35891,
  'title': 'DOC: df.to_sql `chunksize` seems to be ignored by default.',
  'user': {'login': 'gbrova',
   'id': 1232895,
   'node_id': 'MDQ6VXNlcjEyMzI4OTU=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/1232895?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/gbrova',
   'html_url': 'https://github.com/gbrova',
   'followers_url': 'https://api.github.com/users/gbrova/followers',
   'following_url': 'https://api.github.com/users/gbrova/following{/other_user}',
   'gists_url': 'https://api.github.com/users/gbrova/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/gbrova/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/gbrova/subscriptions',
   'organizations_url': 'https://api.github.com/users/gbrova/orgs',
   'repos_url': 'https://api.github.com/users/gbrova/repos',
   'events_url': 'https://api.github.com/users/gbrova/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/gbrova/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-08-25T11:26:26Z',
  'updated_at': '2020-08-25T11:27:25Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '#### Location of the documentation\r\n\r\nhttps://dev.pandas.io/docs/reference/api/pandas.DataFrame.to_sql.html\r\n\r\n\r\n#### Documentation problem\r\n\r\nDocs for `chunksize` state that "By default, all rows will be written at once".  However, this seems to only be true if `method="multi"`, even though `method=None` by default.\r\n\r\nExperimentally, I notice a substantial speedup if I set `method="multi"` and `chunksize` is either unset or large, but `chunksize` seems to have no effect if I don\'t set `method`. \r\n\r\n#### Suggested fix for documentation\r\n\r\nDocumentation for `chunksize` should also reference the `method` argument. For example. we could revise to: \r\n\r\n> chunksize : int, optional\r\n>  Specify the number of rows in each batch to be written at a time, **if batching is enabled via `method`**. By default, all rows will be written at once.\r\n\r\nAlso, are there many uses where users should avoid `method="multi"`? If not, would it make sense to change the default?',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35890',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35890/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35890/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35890/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/35890',
  'id': 685333577,
  'node_id': 'MDU6SXNzdWU2ODUzMzM1Nzc=',
  'number': 35890,
  'title': 'BUG: ValueError: Of the four parameters: start, end, periods, and freq, exactly three must be specified',
  'user': {'login': 'malapradej',
   'id': 5550345,
   'node_id': 'MDQ6VXNlcjU1NTAzNDU=',
   'avatar_url': 'https://avatars1.githubusercontent.com/u/5550345?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/malapradej',
   'html_url': 'https://github.com/malapradej',
   'followers_url': 'https://api.github.com/users/malapradej/followers',
   'following_url': 'https://api.github.com/users/malapradej/following{/other_user}',
   'gists_url': 'https://api.github.com/users/malapradej/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/malapradej/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/malapradej/subscriptions',
   'organizations_url': 'https://api.github.com/users/malapradej/orgs',
   'repos_url': 'https://api.github.com/users/malapradej/repos',
   'events_url': 'https://api.github.com/users/malapradej/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/malapradej/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2020-08-25T09:39:50Z',
  'updated_at': '2020-08-25T09:44:31Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '- [x] I have checked that this issue has not already been reported.\r\n\r\n- [x] I have confirmed this bug exists on the latest version of pandas.\r\n\r\n- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.\r\n\r\n---\r\n\r\n**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.\r\n\r\n#### Code Sample, a copy-pastable example\r\n\r\n```python\r\n# Your code here\r\n\r\n```\r\n\r\n#### Problem description\r\n\r\n[this should explain **why** the current behaviour is a problem and why the expected output is a better solution]\r\n\r\n#### Expected Output\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n[paste the output of ``pd.show_versions()`` here leaving a blank line after the details tag]\r\n\r\n</details>\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35889',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35889/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35889/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35889/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/35889',
  'id': 685309873,
  'node_id': 'MDU6SXNzdWU2ODUzMDk4NzM=',
  'number': 35889,
  'title': 'BUG: groupby dropna=False with nan value in groupby causes ValueError when apply() ',
  'user': {'login': 'cwkwong',
   'id': 14267968,
   'node_id': 'MDQ6VXNlcjE0MjY3OTY4',
   'avatar_url': 'https://avatars0.githubusercontent.com/u/14267968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/cwkwong',
   'html_url': 'https://github.com/cwkwong',
   'followers_url': 'https://api.github.com/users/cwkwong/followers',
   'following_url': 'https://api.github.com/users/cwkwong/following{/other_user}',
   'gists_url': 'https://api.github.com/users/cwkwong/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/cwkwong/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/cwkwong/subscriptions',
   'organizations_url': 'https://api.github.com/users/cwkwong/orgs',
   'repos_url': 'https://api.github.com/users/cwkwong/repos',
   'events_url': 'https://api.github.com/users/cwkwong/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/cwkwong/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 2,
  'created_at': '2020-08-25T09:04:32Z',
  'updated_at': '2020-08-25T13:03:57Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the latest version of pandas, version `1.1.1`\r\n\r\n- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.\r\n\r\n---\r\n\r\n#### Code Sample, a copy-pastable example\r\n\r\n```python\r\nimport pandas as pd\r\nimport numpy as np\r\n\r\ndf = pd.DataFrame({\r\n    \'groups\': [\'a\', \'a\', \'b\', np.nan],\r\n    \'tonnages\': [10, 10, 20, 30]\r\n})\r\ndfg = df.groupby(\'groups\', dropna=False)\r\nrv = dfg.apply(lambda grp: pd.DataFrame({\'values\': list(range(len(grp)))}))\r\n```\r\n\r\n#### Problem description\r\n\r\n`ValueError` raised on `dfg.apply(lambda grp: ...)`; with the following stacktrace:\r\n<details>\r\n\r\n```python\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/groupby/groupby.py:859: in apply\r\n    result = self._python_apply_general(f, self._selected_obj)\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/groupby/groupby.py:894: in _python_apply_general\r\n    return self._wrap_applied_output(\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/groupby/generic.py:1230: in _wrap_applied_output\r\n    return self._concat_objects(keys, values, not_indexed_same=not_indexed_same)\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/groupby/groupby.py:1145: in _concat_objects\r\n    result = concat(\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/reshape/concat.py:274: in concat\r\n    op = _Concatenator(\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/reshape/concat.py:454: in __init__\r\n    self.new_axes = self._get_new_axes()\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/reshape/concat.py:519: in _get_new_axes\r\n    return [\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/reshape/concat.py:520: in <listcomp>\r\n    self._get_concat_axis() if i == self.bm_axis else self._get_comb_axis(i)\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/reshape/concat.py:576: in _get_concat_axis\r\n    concat_axis = _make_concat_multiindex(\r\n_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ \r\n\r\nindexes = [RangeIndex(start=0, stop=2, step=1), RangeIndex(start=0, stop=1, step=1), RangeIndex(start=0, stop=1, step=1)]\r\nkeys = Index([\'a\', \'b\', nan], dtype=\'object\', name=\'groups\')\r\nlevels = [Index([\'a\', \'b\', nan], dtype=\'object\', name=\'groups\')]\r\nnames = [\'groups\']\r\n\r\n    def _make_concat_multiindex(indexes, keys, levels=None, names=None) -> MultiIndex:\r\n    \r\n        if (levels is None and isinstance(keys[0], tuple)) or (\r\n            levels is not None and len(levels) > 1\r\n        ):\r\n            zipped = list(zip(*keys))\r\n            if names is None:\r\n                names = [None] * len(zipped)\r\n    \r\n            if levels is None:\r\n                _, levels = factorize_from_iterables(zipped)\r\n            else:\r\n                levels = [ensure_index(x) for x in levels]\r\n        else:\r\n            zipped = [keys]\r\n            if names is None:\r\n                names = [None]\r\n    \r\n            if levels is None:\r\n                levels = [ensure_index(keys)]\r\n            else:\r\n                levels = [ensure_index(x) for x in levels]\r\n    \r\n        if not all_indexes_same(indexes):\r\n            codes_list = []\r\n    \r\n            # things are potentially different sizes, so compute the exact codes\r\n            # for each level and pass those to MultiIndex.from_arrays\r\n    \r\n            for hlevel, level in zip(zipped, levels):\r\n                to_concat = []\r\n                for key, index in zip(hlevel, indexes):\r\n                    mask = level == key\r\n                    if not mask.any():\r\n>                       raise ValueError(f"Key {key} not in level {level}")\r\nE                       ValueError: Key nan not in level Index([\'a\', \'b\', nan], dtype=\'object\', name=\'groups\')\r\n\r\n../../env3.8/lib/python3.8/site-packages/pandas/core/reshape/concat.py:631: ValueError\r\n```\r\n\r\n</details>\r\n\r\n#### Expected Output\r\n\r\nNo error should be raised. With the above, if i omit the `nan`:\r\n\r\n```python\r\ndf = pd.DataFrame({\r\n    \'groups\': [\'a\', \'a\', \'b\'],\r\n    \'tonnages\': [10, 10, 20]\r\n})\r\ndfg = df.groupby(\'groups\', dropna=False)\r\nrv = dfg.apply(lambda grp: pd.DataFrame({\'values\': list(range(len(grp)))}))\r\n```\r\nThen it works successfully with `rv` being:\r\n\r\n```python\r\n          values\r\ngroups          \r\na      0       0\r\n       1       1\r\nb      0       0\r\n```\r\n\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : f2ca0a2665b2d169c97de87b8e778dbed86aea07\r\npython           : 3.8.2.final.0\r\npython-bits      : 64\r\nOS               : Darwin\r\nOS-release       : 18.7.0\r\nVersion          : Darwin Kernel Version 18.7.0: Thu Jun 18 20:50:10 PDT 2020; root:xnu-4903.278.43~1/RELEASE_X86_64\r\nmachine          : x86_64\r\nprocessor        : i386\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_AU.UTF-8\r\nLOCALE           : en_AU.UTF-8\r\n\r\npandas           : 1.1.1\r\nnumpy            : 1.18.4\r\npytz             : 2019.3\r\ndateutil         : 2.8.1\r\npip              : 20.1.1\r\nsetuptools       : 46.4.0\r\nCython           : 0.29.17\r\npytest           : 5.1.1\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 0.9.6\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : 2.8.3 (dt dec pq3 ext lo64)\r\njinja2           : 2.11.2\r\nIPython          : None\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : 1.3.1\r\nfsspec           : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nmatplotlib       : None\r\nnumexpr          : 2.7.1\r\nodfpy            : None\r\nopenpyxl         : 1.8.6\r\npandas_gbq       : None\r\npyarrow          : None\r\npytables         : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : 1.4.1\r\nsqlalchemy       : 1.3.12\r\ntables           : 3.6.1\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : 1.2.0\r\nxlwt             : None\r\nnumba            : None\r\n\r\n</details>\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35888',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35888/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35888/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35888/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/35888',
  'id': 685251593,
  'node_id': 'MDU6SXNzdWU2ODUyNTE1OTM=',
  'number': 35888,
  'title': 'BUG: pd.to_datetime() throws with Null-like arguments',
  'user': {'login': 'blinkseb',
   'id': 386274,
   'node_id': 'MDQ6VXNlcjM4NjI3NA==',
   'avatar_url': 'https://avatars2.githubusercontent.com/u/386274?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/blinkseb',
   'html_url': 'https://github.com/blinkseb',
   'followers_url': 'https://api.github.com/users/blinkseb/followers',
   'following_url': 'https://api.github.com/users/blinkseb/following{/other_user}',
   'gists_url': 'https://api.github.com/users/blinkseb/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/blinkseb/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/blinkseb/subscriptions',
   'organizations_url': 'https://api.github.com/users/blinkseb/orgs',
   'repos_url': 'https://api.github.com/users/blinkseb/repos',
   'events_url': 'https://api.github.com/users/blinkseb/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/blinkseb/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2020-08-25T07:37:44Z',
  'updated_at': '2020-08-25T07:37:44Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

In [135]:
git_data_df=pd.DataFrame(data)

In [136]:
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/35891/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/35891',
 'id': 685404307,
 'node_id': 'MDU6SXNzdWU2ODU0MDQzMDc=',
 'number': 35891,
 'title': 'DOC: df.to_sql `chunksize` seems to be ignored by default.',
 'user': {'login': 'gbrova',
  'id': 1232895,
  'node_id': 'MDQ6VXNlcjEyMzI4OTU=',
  'avatar_url': 'https://avatars1.githubusercontent.com/u/1232895?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/gbrova',
  'html_url': 'https://github.com/gbrova',
  'followers_url': 'https://api.github.com/users/gbrova/followers',
  'following_url': 'https://api.github.com/users/gbrova/following{/other_user}',
  'gists_url': 'https://api.github.com/users/gbrova/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/gbrova/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/gbrova/subscriptions',
  'organizations_url': 'https://api.github.com/users/gbrova/orgs',
  'repos_url': 'https://api.github.com/users/gbrova/repos',
  'events_url': 'https://api.github.com/users/gbrova/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/gbrova/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 134699,
   'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
   'name': 'Docs',
   'color': '3465A4',
   'default': False,
   'description': None},
  {'id': 1954720290,
   'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
   'name': 'Needs Triage',
   'color': '0052cc',
   'default': False,
   'description': 'Issue that has not been reviewed by a pandas team member'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 1,
 'created_at': '2020-08-25T11:26:26Z',
 'updated_at': '2020-08-25T11:27:25Z',
 'closed_at': None,
 'author_association': 'NONE',
 'active_lock_reason': None,
 'body': '#### Location of the documentation\r\n\r\nhttps://dev.pandas.io/docs/reference/api/pandas.DataFrame.to_sql.html\r\n\r\n\r\n#### Documentation problem\r\n\r\nDocs for `chunksize` state that "By default, all rows will be written at once".  However, this seems to only be true if `method="multi"`, even though `method=None` by default.\r\n\r\nExperimentally, I notice a substantial speedup if I set `method="multi"` and `chunksize` is either unset or large, but `chunksize` seems to have no effect if I don\'t set `method`. \r\n\r\n#### Suggested fix for documentation\r\n\r\nDocumentation for `chunksize` should also reference the `method` argument. For example. we could revise to: \r\n\r\n> chunksize : int, optional\r\n>  Specify the number of rows in each batch to be written at a time, **if batching is enabled via `method`**. By default, all rows will be written at once.\r\n\r\nAlso, are there many uses where users should avoid `method="multi"`? If not, would it make sense to change the default?',
 'performed_via_github_app': None}

In [137]:
git_data_df.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,milestone,comments,created_at,updated_at,closed_at,author_association,active_lock_reason,body,performed_via_github_app,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/35891,685404307,MDU6SXNzdWU2ODU0MDQzMDc=,35891,DOC: df.to_sql `chunksize` seems to be ignored...,...,None,1,2020-08-25T11:26:26Z,2020-08-25T11:27:25Z,None,NONE,None,#### Location of the documentation\r\n\r\nhttp...,None,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/35890,685333577,MDU6SXNzdWU2ODUzMzM1Nzc=,35890,BUG: ValueError: Of the four parameters: start...,...,None,1,2020-08-25T09:39:50Z,2020-08-25T09:44:31Z,None,NONE,None,- [x] I have checked that this issue has not a...,None,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/35889,685309873,MDU6SXNzdWU2ODUzMDk4NzM=,35889,BUG: groupby dropna=False with nan value in gr...,...,None,2,2020-08-25T09:04:32Z,2020-08-25T13:03:57Z,None,NONE,None,- [X] I have checked that this issue has not a...,None,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/35888,685251593,MDU6SXNzdWU2ODUyNTE1OTM=,35888,BUG: pd.to_datetime() throws with Null-like ar...,...,None,0,2020-08-25T07:37:44Z,2020-08-25T07:37:44Z,None,NONE,None,- [x] I have checked that this issue has not a...,None,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/35886,685156845,MDU6SXNzdWU2ODUxNTY4NDU=,35886,QST:,...,None,0,2020-08-25T04:18:23Z,2020-08-25T04:18:23Z,None,NONE,None,import pandas as pd\r\nimport xlrd\r\nbook = x...,None,NaN

# Working with databases

In [139]:
import sqlite3
query="""
        CREATE TABLE test(a VARCHAR(20), b VARCHAR(20), c REAL, d INTEGER);
"""
con=sqlite3.connect("mydata.sqlite")
con.execute(query)
con.commit()

In [158]:
#inserting data in datatable name test
data=[('a','b',1,2),
     ('c','d','NaN',4),
      ('e','f',5,6)
     ]
dt_insert="""
insert into test values(?,?,?,?)
"""
con.executemany(dt_insert,data)
con.commit()

In [159]:
#extracting or fectching data from table
cursor=con.execute("select * from test")
row=cursor.fetchall()
print(row,type(row))
print(cursor)

[('a', 'b', 1.0, 2), ('c', 'd', 3.0, 4), ('e', 'f', 5.0, 6), ('a', 'b', 1.0, 2), ('a', 'b', 1.0, 2), ('c', 'd', 'NaN', 4), ('e', 'f', 5.0, 6)] <class 'list'>
<sqlite3.Cursor object at 0x00000246FD523110>

In [160]:
#converting sql data into data frame
data_df=pd.DataFrame(row, columns=[x[0] for x in cursor.description] )

In [161]:
data_df

   a  b    c  d
0  a  b    1  2
1  c  d    3  4
2  e  f    5  6
3  a  b    1  2
4  a  b    1  2
5  c  d  NaN  4
6  e  f    5  6

In [162]:
import sqlalchemy as sqla

In [163]:
db=sqla.create_engine('sqlite:///mydata.sqlite')
pd.read_sql("select * from test",db)

   a  b    c  d
0  a  b    1  2
1  c  d    3  4
2  e  f    5  6
3  a  b    1  2
4  a  b    1  2
5  c  d  NaN  4
6  e  f    5  6

In [165]:
from numpy import nan as NA

In [176]:
data=pd.DataFrame([[1,6.5,4],[1,NA,NA],[NA,NA,NA],[NA,6.5,3]],columns=list('abc'))

In [177]:
data

     a    b    c
0  1.0  6.5  4.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [178]:
cleaned=data.dropna()# Drop all the rows and columns contain even Single NaN

In [179]:
cleaned

     a    b    c
0  1.0  6.5  4.0

In [180]:
data.dropna(how='all')

     a    b    c
0  1.0  6.5  4.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [181]:
data1=pd.DataFrame([[1,6.5,NA],[1,NA,NA],[NA,NA,NA],[NA,6.5,NA]],columns=list('abc'))

In [182]:
data1.dropna(axis=1,how="all")

     a    b
0  1.0  6.5
1  1.0  NaN
2  NaN  NaN
3  NaN  6.5

# Filling missing values

In [200]:
from numpy import nan as NA
data_df=pd.DataFrame(np.random.randn(7,3),columns=list('abc'))
data_df

          a         b         c
0 -1.179997 -1.507545 -0.062395
1 -0.286060 -1.046075  0.761594
2 -0.429862  0.486500  1.061592
3 -1.547903  1.027672 -0.380136
4 -2.187828  0.136190  0.271834
5 -0.587234  1.813163 -0.281087
6 -0.256605 -0.886150  0.362805

In [201]:
data_df.iloc[:4,1]=NA
data_df.iloc[:2,2]=NA
data_df

          a         b         c
0 -1.179997       NaN       NaN
1 -0.286060       NaN       NaN
2 -0.429862       NaN  1.061592
3 -1.547903       NaN -0.380136
4 -2.187828  0.136190  0.271834
5 -0.587234  1.813163 -0.281087
6 -0.256605 -0.886150  0.362805

In [202]:
data_df.fillna(1.5)

          a         b         c
0 -1.179997  1.500000  1.500000
1 -0.286060  1.500000  1.500000
2 -0.429862  1.500000  1.061592
3 -1.547903  1.500000 -0.380136
4 -2.187828  0.136190  0.271834
5 -0.587234  1.813163 -0.281087
6 -0.256605 -0.886150  0.362805

In [203]:
data_df.fillna({"b":1.5,"c":1})

          a         b         c
0 -1.179997  1.500000  1.000000
1 -0.286060  1.500000  1.000000
2 -0.429862  1.500000  1.061592
3 -1.547903  1.500000 -0.380136
4 -2.187828  0.136190  0.271834
5 -0.587234  1.813163 -0.281087
6 -0.256605 -0.886150  0.362805

In [204]:
data_df.fillna(method="ffill")

          a         b         c
0 -1.179997       NaN       NaN
1 -0.286060       NaN       NaN
2 -0.429862       NaN  1.061592
3 -1.547903       NaN -0.380136
4 -2.187828  0.136190  0.271834
5 -0.587234  1.813163 -0.281087
6 -0.256605 -0.886150  0.362805

In [ ]:
pd.ca

# Removing duplicate

In [205]:
data_df=pd.DataFrame({'k1':['one','two']*3+['two'],'k2':[1,1,2,3,3,4,4]})

In [206]:
data_df

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [208]:
data_df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [214]:
data_df.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [215]:
data_df['v1']=['one','two','one','four','one','six','two']

In [216]:
data_df

    k1  k2    v1
0  one   1   one
1  two   1   two
2  one   2   one
3  two   3  four
4  one   3   one
5  two   4   six
6  two   4   two

In [217]:
data_df

    k1  k2    v1
0  one   1   one
1  two   1   two
2  one   2   one
3  two   3  four
4  one   3   one
5  two   4   six
6  two   4   two

In [221]:
data_df[['k1','v1']].drop_duplicates()

    k1    v1
0  one   one
1  two   two
3  two  four
5  two   six

In [224]:
data_df.duplicated(['k1','v1'])

0    False
1    False
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [223]:
data_df.drop_duplicates(['k1','v1'])

    k1  k2    v1
0  one   1   one
1  two   1   two
3  two   3  four
5  two   4   six

# Replacing values

In [225]:
repl_df=pd.DataFrame(np.random.randn(7,3
                                    ))

In [226]:
repl_df

          0         1         2
0 -0.582238  1.790512 -0.080945
1 -0.894097 -0.410966 -0.526034
2 -0.816269  0.878362 -0.686590
3  0.955546  0.753421 -0.275236
4 -1.049908 -0.644407  1.570252
5 -0.400027 -1.500354 -2.224903
6 -0.541269 -0.516068  0.003487

In [230]:
repl_df.iloc[2:5,1]=np.nan
repl_df.iloc[2:5,2]=np.nan
repl_df

          0         1         2
0 -0.582238  1.790512 -0.080945
1 -0.894097 -0.410966 -0.526034
2 -0.816269       NaN       NaN
3  0.955546       NaN       NaN
4 -1.049908       NaN       NaN
5 -0.400027 -1.500354 -2.224903
6 -0.541269 -0.516068  0.003487

In [234]:
repl_df=repl_df.replace(np.nan,9)

In [244]:
repl_df.iloc[6,2]=5

In [246]:
repl_df.replace([9,5],[10,1])

          0          1    2
0 -0.582238   1.790512  1.0
1 -0.894097  -0.410966  1.0
2 -0.816269  10.000000  1.0
3  0.955546  10.000000  1.0
4 -1.049908  10.000000  1.0
5 -0.400027  -1.500354  1.0
6 -0.541269  -0.516068  1.0

# Renaming index with function maping

In [273]:
data=pd.DataFrame(np.arange(12).reshape(4,3),
                 index=['a','b','c','d'],
                 columns=['one','two','three'])
print(data)
data.describe()

   one  two  three
a    0    1      2
b    3    4      5
c    6    7      8
d    9   10     11

            one        two      three
count  4.000000   4.000000   4.000000
mean   4.500000   5.500000   6.500000
std    3.872983   3.872983   3.872983
min    0.000000   1.000000   2.000000
25%    2.250000   3.250000   4.250000
50%    4.500000   5.500000   6.500000
75%    6.750000   7.750000   8.750000
max    9.000000  10.000000  11.000000

In [269]:
transform=lambda x: x[:].upper()
data.index.map(transform)
data.columns.map(transform)

Index(['ONE', 'TWO', 'THREE'], dtype='object')

In [257]:
data

Index(['A', 'B', 'C', 'D'], dtype='object')

# Detecting and filtering outliers

In [287]:
data=pd.DataFrame(np.random.randn(1000,4))
data

            0         1         2         3
0   -0.335191  0.702888 -0.067037  0.183493
1    1.249931  0.961254  0.746605 -2.244406
2    1.651186 -0.762159 -0.498791 -0.277137
3   -0.250659 -1.099730  0.070074  0.844479
4    0.217261 -0.043502  0.264582  0.275611
..        ...       ...       ...       ...
995 -1.182775 -0.793871 -0.293151  0.008913
996  0.576111  0.050315 -1.329696 -1.350172
997 -0.271131  0.168158  0.621673 -0.537072
998  0.837129 -1.550384 -2.235224 -0.587454
999 -1.241848  0.557987 -0.193505 -0.114381

[1000 rows x 4 columns]

In [288]:
col=data[2]

In [289]:
np.abs(col)

0      0.067037
1      0.746605
2      0.498791
3      0.070074
4      0.264582
         ...
995    0.293151
996    1.329696
997    0.621673
998    2.235224
999    0.193505
Name: 2, Length: 1000, dtype: float64

In [290]:
col[np.abs(col)>3]

186    3.050641
334   -3.243025
676   -3.535451
992   -3.522255
Name: 2, dtype: float64

In [301]:
#to select all the rows having value exceeding 3 or -3
outliers=data[(np.abs(data)>3).any(1)]
outliers

            0         1         2         3
165 -0.493975 -0.398643 -0.394863 -3.398331
186  0.032386  0.539504  3.050641  0.279241
246  3.075680 -0.772414  1.204954  0.419119
283  0.179557  0.376840  0.614678 -3.214514
334 -2.033017  0.796487 -3.243025  0.964259
475  3.003277  0.547974 -2.249223  2.420441
551  0.258463  0.450924 -0.883541 -3.008377
676  0.783667  0.783593 -3.535451  0.688025
705 -3.307206  0.361508  0.406720 -0.797121
766 -3.099286 -1.141317 -0.397717  2.367717
963  4.470474 -1.000112 -1.251363  0.489234
992  0.519705  0.231916 -3.522255  0.608668

In [302]:
data[np.abs(data) > 3] = np.sign(data) * 3

In [311]:
data[(np.abs(data)==1).any(1)]

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [316]:
# this would return -1 for value less than 0, 1 for value greater than 0 and 0 for value equal to 0
np.sign([2, -4.5])*3

array([ 3., -3.])

In [317]:
data.iloc[475,0]

3.0

In [318]:
print(len(outliers),len(data))

12 1000

# Permutation and Rnadom Sampling

In [320]:
df=pd.DataFrame(np.arange(5*4).reshape(5,4))

In [321]:
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [325]:
sampler=np.random.permutation(4)
df[sampler]

    0   3   1   2
0   0   3   1   2
1   4   7   5   6
2   8  11   9  10
3  12  15  13  14
4  16  19  17  18

In [328]:
df.take(sampler,axis=0)

    0   1   2   3
0   0   1   2   3
3  12  13  14  15
1   4   5   6   7
2   8   9  10  11

In [333]:
#To select a random subset without replacement, you can use the sample method on Series and DataFrame
df.sample(n=3)

   0  1   2   3
2  8  9  10  11
1  4  5   6   7
0  0  1   2   3

In [339]:
choices=pd.Series([5, 7, -1, 6, 4])
draws = choices.sample(n=10, replace=True)
draws

4    4
4    4
0    5
0    5
0    5
4    4
1    7
0    5
4    4
3    6
dtype: int64

# Regular expression vs vectorized function

In [6]:
import re
text='foo    bar\t baz\t btq'
text
text.split()

['foo', 'bar', 'baz', 'btq']

In [5]:
re.split('\s+',text)

['foo', 'bar', 'baz', 'btq']

In [7]:
rgx=re.compile('\s+')

In [8]:
rgx

re.compile(r'\s+', re.UNICODE)

In [10]:
rgx.split(text)

['foo', 'bar', 'baz', 'btq']

In [11]:
rgx.findall(text)

['    ', '\t ', '\t ']

In [71]:
text = """Dave dave@google.com Steve steve@gmail.com Rob rob@gmail.com Ryan ryan@yahoo.com """ 
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'

In [72]:
rgx=re.compile(pattern,flags=re.IGNORECASE)

In [73]:
rgx.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [74]:
rgx.search(text)

In [75]:
rgx.match(text)
#rgx.findall(text)

In [76]:
text[5:20]

'dave@google.com'

In [77]:
rgx.sub('hello',text)# replace the with provided string where pattern founded

'Dave hello Steve hello Rob hello Ryan hello '

In [78]:
pattern = r'([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})'
rgx=re.compile(pattern,flags=re.IGNORECASE)
m=rgx.match('wesm@bright.net')

In [79]:
m.groups()

('wesm', 'bright', 'net')

In [80]:
rgx.findall(text)

[('dave', 'google', 'com'),
 ('steve', 'gmail', 'com'),
 ('rob', 'gmail', 'com'),
 ('ryan', 'yahoo', 'com')]

In [86]:
rgx.sub(r'Username:\1, Domain: \2, Suffix: \3, ',text)

'Dave Username:dave, Domain: google, Suffix: com,  Steve Username:steve, Domain: gmail, Suffix: com,  Rob Username:rob, Domain: gmail, Suffix: com,  Ryan Username:ryan, Domain: yahoo, Suffix: com,  '

# Ch# 8 Data Wrangling: Join, Combine, and Reshape

In [4]:
data = pd.Series(np.random.randn(9), 
        index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], 
               [1, 2, 3, 1, 3, 1, 2, 2, 3]])

In [5]:
data

a  1    1.060271
   2    0.114753
   3   -0.210855
b  1   -1.473996
   3   -0.677881
c  1   -0.802324
   2    0.737224
d  2   -1.016077
   3   -2.287925
dtype: float64

In [6]:
data['a']

1    1.060271
2    0.114753
3   -0.210855
dtype: float64

In [7]:
data['a':'b']

a  1    1.060271
   2    0.114753
   3   -0.210855
b  1   -1.473996
   3   -0.677881
dtype: float64

In [8]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [9]:
data['a':'c']

a  1    1.060271
   2    0.114753
   3   -0.210855
b  1   -1.473996
   3   -0.677881
c  1   -0.802324
   2    0.737224
dtype: float64

In [10]:
data[['b','d']]

b  1   -1.473996
   3   -0.677881
d  2   -1.016077
   3   -2.287925
dtype: float64

In [11]:
data.loc[['b','d']]

b  1   -1.473996
   3   -0.677881
d  2   -1.016077
   3   -2.287925
dtype: float64

In [12]:
data['b',3]

-0.6778813090214607

In [13]:
data.loc[['a','c'],[1,2]]

a  1    1.060271
   2    0.114753
c  1   -0.802324
   2    0.737224
dtype: float64

In [14]:
data_st=data.unstack()
data_st

          1         2         3
a  1.060271  0.114753 -0.210855
b -1.473996       NaN -0.677881
c -0.802324  0.737224       NaN
d       NaN -1.016077 -2.287925

In [15]:
data_st.stack()

a  1    1.060271
   2    0.114753
   3   -0.210855
b  1   -1.473996
   3   -0.677881
c  1   -0.802324
   2    0.737224
d  2   -1.016077
   3   -2.287925
dtype: float64

In [16]:
data_df=pd.DataFrame(np.arange(12).reshape(4,3),
                    index=[['a','a','b','b'],[1,2,1,2]],
                    columns=[['ohio','ohio','colorada'],['green','red','green']])
data_df

     ohio     colorada
    green red    green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [18]:
data_df.index.names=['key1','key2']
data_df.columns.names=['state','color']
data_df

state      ohio     colorada
color     green red    green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [19]:
data_df['ohio']

color      green  red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [23]:
data_df.loc['a']

state  ohio     colorada
color green red    green
key2
1         0   1        2
2         3   4        5

# Reordering and sorting levels

In [25]:
data_df.swaplevel('key2','key1')

state      ohio     colorada
color     green red    green
key2 key1
1    a        0   1        2
2    a        3   4        5
1    b        6   7        8
2    b        9  10       11

In [34]:
data_df.sort_index(level=1)

state      ohio     colorada
color     green red    green
key1 key2
a    1        0   1        2
b    1        6   7        8
a    2        3   4        5
b    2        9  10       11

In [35]:
data_df.swaplevel(1,0).sort_index(level=0)

state      ohio     colorada
color     green red    green
key2 key1
1    a        0   1        2
     b        6   7        8
2    a        3   4        5
     b        9  10       11

# Summary Statistics by Level

In [36]:
data_df.sum(level='key1')

state  ohio     colorada
color green red    green
key1
a         3   5        7
b        15  17       19

In [37]:
data_df.sum(level="key2")

state  ohio     colorada
color green red    green
key2
1         6   8       10
2        12  14       16

In [38]:
data_df.sum(level='color',axis=1)

color      green  red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10

In [39]:
data_df.sum(level='state',axis=1)

state      ohio  colorada
key1 key2
a    1        1         2
     2        7         5
b    1       13         8
     2       19        11

In [47]:
frame = pd.DataFrame({'a': range(7), 'b': range(7, 0, -1), 
                      'c': ['one', 'one', 'one', 'two', 'two','two', 'two'],   
                      'd': [0, 1, 2, 0, 1, 2, 3]})
frame

   a  b    c  d
0  0  7  one  0
1  1  6  one  1
2  2  5  one  2
3  3  4  two  0
4  4  3  two  1
5  5  2  two  2
6  6  1  two  3

In [52]:
frame2=frame.set_index(['c','d'])
frame2

       a  b
c   d
one 0  0  7
    1  1  6
    2  2  5
two 0  3  4
    1  4  3
    2  5  2
    3  6  1

In [50]:
frame.set_index(['c','d'],drop=False) #set index and didnot remove column from dataframe

       a  b    c  d
c   d
one 0  0  7  one  0
    1  1  6  one  1
    2  2  5  one  2
two 0  3  4  two  0
    1  4  3  two  1
    2  5  2  two  2
    3  6  1  two  3

In [51]:
frame.reset_index()

   index  a  b    c  d
0      0  0  7  one  0
1      1  1  6  one  1
2      2  2  5  one  2
3      3  3  4  two  0
4      4  4  3  two  1
5      5  5  2  two  2
6      6  6  1  two  3

In [53]:
frame2.reset_index()

     c  d  a  b
0  one  0  0  7
1  one  1  1  6
2  one  2  2  5
3  two  0  3  4
4  two  1  4  3
5  two  2  5  2
6  two  3  6  1

# Combining and Merging Datasets

In [22]:
df1= pd.DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],  
                   'data1': range(7)})
df2 = pd.DataFrame({'key': ['a', 'b', 'd'],  
                    'data2': range(3)})
print(df1)
print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2

In [23]:
pd.merge(df1,df2)

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [24]:
pd.merge(df2,df1)

  key  data2  data1
0   a      0      2
1   a      0      4
2   a      0      5
3   b      1      0
4   b      1      1
5   b      1      6

In [25]:
pd.merge(df1,df2,on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      4      0
5   a      5      0

In [26]:
df3 = pd.DataFrame({'lkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],  
                    'data1': range(7)})
df4 = pd.DataFrame({'rkey': ['a', 'b', 'd'],   
                    'data2': range(3)})
print(df3)
print(df4)

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6
  rkey  data2
0    a      0
1    b      1
2    d      2

In [27]:
pd.merge(df3,df4,right_on='rkey',left_on='lkey')

  lkey  data1 rkey  data2
0    b      0    b      1
1    b      1    b      1
2    b      6    b      1
3    a      2    a      0
4    a      4    a      0
5    a      5    a      0

In [28]:
df3

  lkey  data1
0    b      0
1    b      1
2    a      2
3    c      3
4    a      4
5    a      5
6    b      6

In [30]:
pd.merge(df3,df4,left_on="lkey",right_on="rkey",how="outer")

  lkey  data1 rkey  data2
0    b    0.0    b    1.0
1    b    1.0    b    1.0
2    b    6.0    b    1.0
3    a    2.0    a    0.0
4    a    4.0    a    0.0
5    a    5.0    a    0.0
6    c    3.0  NaN    NaN
7  NaN    NaN    d    2.0

In [31]:
pd.merge(df1,df2,how='outer')

  key  data1  data2
0   b    0.0    1.0
1   b    1.0    1.0
2   b    6.0    1.0
3   a    2.0    0.0
4   a    4.0    0.0
5   a    5.0    0.0
6   c    3.0    NaN
7   d    NaN    2.0

In [32]:
pd.merge(df1,df2,how='left')

  key  data1  data2
0   b      0    1.0
1   b      1    1.0
2   a      2    0.0
3   c      3    NaN
4   a      4    0.0
5   a      5    0.0
6   b      6    1.0

In [33]:
pd.merge(df1,df2,how='right')

  key  data1  data2
0   b    0.0      1
1   b    1.0      1
2   b    6.0      1
3   a    2.0      0
4   a    4.0      0
5   a    5.0      0
6   d    NaN      2