In [8]:
# if else 
a=200;
b=400;
if a<b:
    print("a is less then b")

a is less then b

## List

In [5]:
  a=  ["ali","ahmed",'hassan']
#index  0      1        2
a

['ali', 'ahmed', 'hassan']

In [11]:
#accessing the member of list
a[2]

'hassan'

In [12]:
#length of list 
len(a)

3

In [9]:
#adding memeber to the list
# using Append(Add element at the end of the list) this function add only one element at a time
a.append('MUKHTAR') #BY PRESSING SHIFT + TAB TO  GET FINCTION DETAILS

In [17]:
a[3]

'MUKHTAR'

In [13]:
# adding element in list using insert. this function insert on e element at a time
a.insert(1,'sufian')
a

['ali', 'sufian', 'ahmed', 'hassan', 'hazik', 'usman', 'Nabeel', 'MUKHTAR']

In [19]:
# adding element to the list using extend function
a.extend(["hazik","usman","Nabeel"])

In [20]:
a

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'hazik',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [17]:
a.count("Nabeel")

1

In [21]:
a.index("usman")

5

In [22]:
a1=a.copy() # copying element of a in a1 
# pass by value

In [23]:
a1

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'hazik',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [24]:
a3=a
a3

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'hazik',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [25]:
a.append("nazeer")

In [26]:
a

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'hazik',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel',
 'nazeer']

In [28]:
a1

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'hazik',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [32]:
a3.clear();
a3

[]

In [33]:
a

[]

In [34]:
a1

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'hazik',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [35]:
# using del stamnet delete element by index number
del a1[4]
a1

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'usman',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [36]:
#using remove function to remove the element by passing value (elemnet name)
a1.remove("usman")

In [37]:
a1

['ali',
 'sufian',
 'ahmed',
 'hassan',
 'Nabeel',
 'MUKHTAR',
 'hazik',
 'usman',
 'Nabeel']

In [39]:
poped=a1.pop()
print(f"the poped element is {poped}")
print(F"the remaning element in list is {a1} ")

the poped element is usman
the remaning element in list is ['ali', 'sufian', 'ahmed', 'hassan', 'Nabeel', 'MUKHTAR', 'hazik']

In [40]:
#sort function 
a1.sort()

In [41]:
a1

['MUKHTAR', 'Nabeel', 'ahmed', 'ali', 'hassan', 'hazik', 'sufian']

In [42]:
a1.sort(reverse=True)

In [46]:
a1.remove("Nabeel")

In [48]:
a1.sort()

In [49]:
a1

['ahmed', 'ali', 'hassan', 'hazik', 'sufian']

In [50]:
a1.sort(reverse=True)

In [51]:
a1

['sufian', 'hazik', 'hassan', 'ali', 'ahmed']

In [52]:
a1.reverse()

In [53]:
a1

['ahmed', 'ali', 'hassan', 'hazik', 'sufian']

In [54]:
a1.reverse()

In [55]:
a1

['sufian', 'hazik', 'hassan', 'ali', 'ahmed']

In [57]:
a1.index("sufian")

0

In [59]:
#finding element in list using IN operator
"sufian" in a1

True

In [60]:
#slicing in list
a1[1:4]

['hazik', 'hassan', 'ali']

In [61]:
a1

['sufian', 'hazik', 'hassan', 'ali', 'ahmed']

In [68]:
a1[-1]

'ahmed'

In [69]:
a1[4]

'ahmed'

In [70]:
a1[1:5]

['hazik', 'hassan', 'ali', 'ahmed']

In [75]:
a1[-4:-1]

['hazik', 'hassan', 'ali']

In [76]:
a1[-3:0]

[]

In [87]:
a1

['sufian', 'hazik', 'hassan', 'ali', 'ahmed']

In [89]:
a1[2:]

['hassan', 'ali', 'ahmed']

In [90]:
a1[::2]# stepping in list slicing

['sufian', 'hassan', 'ahmed']


# Tuple

In [91]:
#tuple are immutable oe unchangeable
t1=(1,2,3,4,"abc")
t1

(1, 2, 3, 4, 'abc')

In [92]:
t1[1:4]

(2, 3, 4)

In [93]:
t1.count(3)

1

In [94]:
t1.index(4)

3