# for loop

In [5]:
for i in range(1,6,2):
    print(f"aqeel: {i}")

aqeel: 1
aqeel: 3
aqeel: 5

In [2]:
for i in range(10,1,-2):
    print(f"aqeel: {i}")

aqeel: 10
aqeel: 8
aqeel: 6
aqeel: 4
aqeel: 2

In [11]:
name=["ali","usman","haider","nouman","sufian"]
for a in name:
    print(a)

ali
usman
haider
nouman
sufian

In [15]:
for i in [1,2,34,58,88]:
    print(i)

1
2
34
58
88

In [26]:
country="pakistan" # when variable has single element loop will iterate on each character of the string
for char in country:
    print (char)

p
a
k
i
s
t
a
n

In [28]:
country="pakistan","india","swodan" # when variable has multiple elements loop will iterate on each element and
                                    #this would become tuple
for char in country:
    print (char)

pakistan
india
swodan

# Break in for loop

In [33]:
for i in range(10):
    if i==7:
        break
    print(i)

0
1
2
3
4
5
6

# continue in loop

In [36]:
for i in range(10):
    if i==7 or i==3:
        continue
    print(i)

0
1
2
4
5
6
8
9

In [37]:
#table printing with loop
table=int(input("enter the table you want to print"))
for a in range(1,11):
    print(f"{table} * {a}= {table*a}")

enter the table you want to print3
3 * 1= 3
3 * 2= 6
3 * 3= 9
3 * 4= 12
3 * 5= 15
3 * 6= 18
3 * 7= 21
3 * 8= 24
3 * 9= 27
3 * 10= 30

# nested for loop

In [1]:
tables=int(input("enter the range of tables you want to print"))
for a in range(1,tables+1):
    for i in range(1,11):
        print(f"{a} * {i}= {a*i}")

enter the range of tables you want to print2
1 * 1= 1
1 * 2= 2
1 * 3= 3
1 * 4= 4
1 * 5= 5
1 * 6= 6
1 * 7= 7
1 * 8= 8
1 * 9= 9
1 * 10= 10
2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
2 * 10= 20

# printing starik with nested for loop

In [24]:
for i in range(0,5):
    for j in range(0,i):
        print("*", end='')
    print()

*
**
***
****

In [27]:
for i in range(5,0):
    for j in range(0,i):
        print("*", end='')
    print()

# type casting

In [37]:
a=int(input("enter value : ")) # converting to int 
print(a)
type(a)

enter value : 33
33

int

In [39]:
b=float(input("enter value to convert in float: "))
print(b)
type(b)

enter value to convert in float: 44
44.0

float

# changing case of string

In [43]:
a="pakIstan"
a.upper() # CONVERTING STRING TO UPPER CASE

'PAKISTAN'

In [41]:
a.lower()# CONVERTING STRING TO LOWER CASE

'pakistan'

In [42]:
a.title()# CONVERTING STRING TO SENTENCE CASE(TITLE)

'Pakistan'

In [44]:
a.count("a")

2

In [48]:
a.find("n")

7

# dictionary

In [29]:
myDic={"name":"aqeel","age":22,"gender":"male"}
len(myDic)

3

In [5]:
myDic

{'name': 'aqeel', 'age': 22, 'gender': 'male'}

In [14]:
myDic["email"]="aqeelatiq.arain@gmail.com" # adding value in dictionary

In [52]:
myDic

{'name': 'aqeel',
 'age': 22,
 'gender': 'male',
 'email': 'aqeelatiq.arain@gmail.com'}

# accessing value in dictionary

In [8]:
myDic['name']

'aqeel'

# deleting value in dictionary

In [16]:
del myDic['gender']

In [30]:
myDic

{'name': 'aqeel', 'age': 22, 'gender': 'male'}

In [31]:
myDic

{'name': 'aqeel', 'age': 22, 'gender': 'male'}

# updating in dictionary

In [32]:
myDic['age']=23

In [33]:
myDic

{'name': 'aqeel', 'age': 23, 'gender': 'male'}

In [34]:
# if we add two same key in dictionary it will overrie th eprvious one

In [35]:
'age' in myDic

True

In [36]:
'Age' in myDic

False

# iteration over the dictionary

In [41]:
for v in myDic.values(): # print values in dictionary
    print(v)

aqeel
23
male

In [45]:
for k in myDic.keys(): #printing keys in dictionary
    print(k)

name
age
gender

In [46]:
for k, v in myDic.items():# printing keys and values in dictionary
    print(k,v)

name aqeel
age 23
gender male

# List of dictionary

In [47]:
student=[]

In [48]:
student.append(myDic) # adding dictionary in list

In [49]:
student

[{'name': 'aqeel', 'age': 23, 'gender': 'male'}]

# Accessing element in list of dictionary

In [53]:
student[0]['age']

23

In [54]:
student[0]['name']

'aqeel'

In [55]:
for s in student:
    print(s);

{'name': 'aqeel', 'age': 23, 'gender': 'male'}

# dictionary of list

In [57]:
myDic

{'name': 'aqeel', 'age': 23, 'gender': 'male'}

In [60]:
myDic['contact']=[123,345,567,789] # adding list in dictionary

In [61]:
myDic

{'name': 'aqeel', 'age': 23, 'gender': 'male', 'contact': [123, 345, 567, 789]}

In [63]:
#accesing list in dictionary

In [64]:
myDic['contact'][2]

567

In [65]:
myDic2=myDic.copy();

In [66]:
myDic2

{'name': 'aqeel', 'age': 23, 'gender': 'male', 'contact': [123, 345, 567, 789]}

# dictionary in dictionary

In [72]:
myDic['myDic2']=myDic2
myDic

{'name': 'aqeel',
 'age': 23,
 'gender': 'male',
 'contact': [123, 345, 567, 789],
 'myDic2': {'name': 'aqeel',
  'age': 23,
  'gender': 'male',
  'contact': [123, 345, 567, 789]}}

In [73]:
myDic['myDic2']['contact'] # accessing value in dictionary of dictionary

[123, 345, 567, 789]

In [74]:
myDic['myDic2']['contact'][1]

345